.nav .nav-link{
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out;
}
.nav .nav-link.active-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #290a7e;
    transition: width 0.3s ease-in-out;
}
.navbar-nav .nav-link.active-link{
    color: #0d1cee !important;
}

p{
    margin-bottom: 0;
    margin-top: auto;
}