<section class="fdb-block pt-0">
    <div class="container-fluid p-0 pb-md-5">
        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8444388087937!2d26.101253041406952!3d44.43635311654287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff4770adb5b7%3A0x58147f39579fe6fa!2zR3J1cHVsIFN0YXR1YXIgIkPEg3J1yJthIEN1IFBhaWHIm2Ui!5e0!3m2!1sen!2sro!4v1507381157656"
            width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 col-md-6 col-lg-5">
                <h2>Contact Us</h2>
                <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                    there
                    live the blind texts. Separated they live in Bookmarksgrove.</p>
                <p class="lead">It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </p>
            </div>

            <div class="col-12 col-md-6 ml-auto pt-5 pt-md-0">
                <form>
                    <div class="row">
                        <div class="col"><input type="text" class="form-control" placeholder="First name"></div>
                        <div class="col"><input type="text" class="form-control" placeholder="Last name"></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col"><input type="email" class="form-control" placeholder="Enter email"></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col"><input type="email" class="form-control" placeholder="Subject"></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col"><input type="phone" class="form-control" placeholder="Phone No"></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col"><textarea class="form-control" name="message" rows="3"
                                placeholder="How can we help?"></textarea></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col text-center"><button class="btn btn-primary" type="submit">Submit</button></div>
                    </div>
                    <div class="row mt-4"></div>
                </form>                
            </div>
        </div>
    </div>
</section>
<section data-wpr-lazyrender="1" class="footer-top">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<p class="footer-top-head text-center">Contact <span>JKC</span></p>
				<div class="row">
					<div class="col-sm-6">
						<ul class="footer_call_mail">
							<li><a href="mailto:consumer.care@jkcement.com"><i class="far fa-envelope"></i> consumer.care&#64;jkcement.com</a></li>
							<li><a href="mailto:customercare.white@jkcement.com"><i class="far fa-envelope"></i> customercare.white&#64;jkcement.com</a></li>
							<li><a href="mailto:consumercare@jkmaxxpaints.com"><i class="far fa-envelope"></i> consumercare&#64;jkmaxxpaints.com</a></li>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul class="footer_call_mail footer_call_phone">
							<li><i class="fas fa-mobile-alt"></i> Grey Cement: <a href="tel:1800 266 4606">1800 266 4606 </a></li>
							<li><i class="fas fa-mobile-alt"></i> Putty: <a href="tel:1800 102 8868">1800 102 8868 </a></li>
							<li><i class="fas fa-mobile-alt"></i> Paints: <a href="tel:1800 203 4555">1800 203 4555 </a></li>
						</ul>
					</div>
				</div>


			</div>
			<div class="col-md-2 text-center">
				<p class="footer-top-head">Follow <span>JKC</span></p>
				<ul class="social-icon">
					<li><a href="https://www.facebook.com/JKCementIndia/" target="_blank" rel="nofollow" data-channame="Facebook"><i class="fa-brands fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/JKCementIndia" class="rounded-icon" target="_blank" rel="nofollow" data-channame="Twitter"><i class="fa-brands fa-twitter rounded-icon"></i></a></li>
					<li><a href="https://www.instagram.com/jkcementindia/" class="rounded-icon" target="_blank" rel="nofollow" data-channame="Instagram"><i class="fa-brands fa-instagram rounded-icon"></i></a></li>
					<li><a href="https://www.linkedin.com/company/jkcementindia" class="rounded-icon" target="_blank" rel="nofollow" data-channame="LinkedIn"><i class="fa-brands fa-linkedin-in rounded-icon"></i></a></li>
					<li><a href="https://www.youtube.com/c/JKCementLtdIndia/" class="rounded-icon" target="_blank" rel="nofollow" data-channame="YouTube"><i class="fa-brands fa-youtube rounded-icon"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>