<section data-wpr-lazyrender="1" class="py-3 grey-bg ">
    <div class="container">
        <div class="about-head text-center py-3">
          <h2>About <span>JK Cement</span> </h2>
        </div>
        <div class="about-cnt text-left">
          <p>JK Cement Ltd. is a renowned cement company with a legacy of over four decades of excellence and innovation. As a leading cement manufacturer in India, JK Cement has been driving infrastructure development across the nation. We started our journey with the flagship grey cement plant in Nimbahera, Rajasthan, in 1975. Since then, we have grown into a leading cement company in India.
          </p>
          <p>With an installed grey cement capacity of 24 MnTPA and a global presence in over 43 countries, JK Cement stands out as a trusted name in quality and reliability. We are also among the world’s leading producers of white cement, with an installed capacity of 1.20 MnTPA, supported by cutting-edge technology and a commitment to sustainability.
          </p>
          <p>Driven by a vision to empower nation-building and a mission to innovate, JK Cement combines integrity, trust, and customer-centric values to set industry benchmarks. Explore JK Cement, a global leader and a preferred choice among cement manufacturers in India.
          </p>
        </div>
  </div>
  </section>